@import "~variables.scss";

.footer-distributed{
	box-sizing: border-box;
    width: 100%;
    display: flex;
    margin: 10px;
    font-size: 12px;
    color: $secondary-text-color;
    & .footer-left {
        width: 70%;
    }
    & .footer-right{
        width: 30%;
    }
    & .footer-company-name{
        color: $primary-color;
        font-size: 12px;
        font-weight: normal;
        margin: 0;
    }
    & .footer-company-about{
        line-height: 20px;
        color:  $divider-color;
        font-weight: normal;
        margin-bottom: 2%;
    }
    & .footer-company-about span{
        display: block;
        color:  $accent-color;
        font-size: 1.2em;
        font-weight: bold;
        margin-bottom: 4px;
    }
}

/* Footer Right */

.footer-right {
    i {
        background-color: $primary-text-color;
        color: $primary-color-text;
        font-size: 15px;
        width: 21px;
        height: 21px;
        border-radius: 50%;
        text-align: center;
        line-height: 20px;
        margin: 4px 15px;
        vertical-align: middle;
        &.fa-envelope{
            font-size: 14px;
            line-height: 21px;
        }
        &.fa-github{
            font-size: 14px;
            line-height: 21px;
        }
        &.fa-map-marker{
            font-size: 14px;
            line-height: 21px;
        }
    }
    & .footer-links{
        color:  $secondary-text-color;
        padding: 0;
        & a {
            display: flex;
            font-weight: 400;
            text-decoration: none;
            color:  inherit;
        }
    }
    p {
        display: inline-block;
        color: $primary-text-color;
        font-weight:400;
        vertical-align: middle;
        margin:0;
        span {
            display:block;
            font-weight: normal;
            font-size:14px;
            line-height:2;
        }
        a {
            color:  $primary-color-dark;
            text-decoration: none;
            &:before {
                content: "|";
                font-weight:300;
                font-size: 20px;
                left: 0;
                color: $primary-text-color;
                display: inline-block;
                padding-right: 5px;
            }
        }
    }
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}


/* If you don't want the footer to be responsive, remove these media queries */

// @media (max-width: 880px) {

// 	.footer-distributed{
// 		font: bold 14px sans-serif;
// 	}

// 	.footer-distributed .footer-left,
// 	.footer-distributed .footer-center,
// 	.footer-distributed .footer-right{
// 		display: block;
// 		width: 100%;
// 		margin-bottom: 40px;
// 		text-align: center;
// 	}

// 	.footer-distributed .footer-center i{
// 		margin-left: 0;
// 	}

// }
