@import '~variables.scss';
h3 {
    color: $primary-text-color;
}
.select-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 12px;
    .chart-solution {
        display: flex;
        margin-left: 20px;
        align-items: center;
        padding: 15px 20px;
        border-left: 3px solid $secondary-text-color;
        & > mat-icon {
            color: $secondary-text-color;
        }
        & span {
            margin: 0 10px;
            color: $primary-text-color;
        }  
        h3 {
            color: $accent-color;
            margin: 0 4px;
        }      
    }
}