.focus, .stack, .result {
  display: inline-block;
  overflow: auto;
      align-items: baseline;
}
.focus {
    /* position: sticky; */
    /* bottom:20%; */
}
.stack {
    /* align-items: baseline; */
}

/* .mat-grid-tile .mat-figure {
  height: auto
} */

/* Selected item */
.selected {
    font-weight: 700;
    border-left: 2px solid rgba(0, 0, 0, 0.9);;
}
.selected .mat-list-icon {
  color: rgba(0, 0, 0, 0.9);
}
mat-tab-body mat-grid-tile {
  height: 100%;
}


/* Icons */
.mat-list-icon {
  color: rgba(0, 0, 0, 0.54);
}
.mat-icon {
  color: rgba(0, 0, 0, 0.54);
}
.mat-icon + span {
  color: rgba(0, 0, 0, 0.54);
  font-size: .95em;
  vertical-align: middle;
  margin-right: 5px;
}