
<mat-accordion>
  <!-- Panel 1 -->
  <mat-expansion-panel [disabled]="!news">
    <mat-expansion-panel-header class="info">
      <mat-panel-title>
        Info messages
      </mat-panel-title>
      <mat-panel-description >
         Basic information from the workflow of experiments ({{news ? news.size : "0"}})
         <mat-icon>
          input
          </mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <!-- Logs list  -->
    <ng-template matExpansionPanelContent>
      <mat-list dense role="list" *ngIf=news>
        <mat-list-item role="listitem" *ngFor="let info of news">
          <mat-icon mat-list-icon>done</mat-icon>
          <p mat-line>{{info.message}}</p>
          <mat-divider></mat-divider>
          <p class="time" mat-line> {{info.time | date:'shortTime'}} </p>
        </mat-list-item>
      </mat-list>
    </ng-template>
  </mat-expansion-panel>

  <!-- Panel 2 -->
  <mat-expansion-panel [disabled]="!solution">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Solution 
      </mat-panel-title>
      <mat-panel-description>
         A solution that is found by BRISE ({{solution ? 'Done' : 'Please stand by..'}})
         <mat-icon>star_rate</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <ng-template matExpansionPanelContent>
      <mat-list class="solution">
        <mat-list-item>
          <mat-icon matListIcon>outlined_flag</mat-icon>
          <span class="desc">Configuration: </span> <span>{{solution.configuration}}</span>
        </mat-list-item>
        <mat-list-item>
          <mat-icon matListIcon>grade</mat-icon>
          <span class="desc">Result: </span> <span>{{solution.result}}</span>
        </mat-list-item>
        <mat-list-item>
          <mat-icon matListIcon>network_check</mat-icon>
          <span class="desc">Deviation result from default: </span> <span>{{100*(default_task.result - solution.result)/solution.result | number:'2.0-2'}}%</span>
        </mat-list-item>
        <mat-list-item>
          <mat-icon matListIcon>blur_on</mat-icon>
          <span class="desc">Performed measurements: </span> <span>{{solution['performed measurements']}}</span>
        </mat-list-item>
        <mat-list-item>
          <mat-icon matListIcon>sentiment_satisfied_alt</mat-icon>
          <span class="desc">Saved efforts: </span> <span>
            {{
              (1 - solution['performed measurements'] / ( taskConfig['DomainDescription']['AllConfigurations'][0].length * taskConfig['DomainDescription']['AllConfigurations'][1].length * taskConfig['DomainDescription']['AllConfigurations'][2].length * taskConfig['DomainDescription']['AllConfigurations'][3].length * taskConfig['DomainDescription']['AllConfigurations'][4].length * taskConfig['DomainDescription']['AllConfigurations'][5].length * taskConfig['DomainDescription']['AllConfigurations'][6].length * taskConfig['DomainDescription']['AllConfigurations'][7].length * taskConfig['ExperimentsConfiguration']['MaxRepeatsOfExperiment'])) * 100 |number:'2.0-2'
            }}%
        </span>
        </mat-list-item>
      </mat-list>
    </ng-template>
  </mat-expansion-panel>
</mat-accordion>
