@import '~variables.scss';

.time {
    color: $divider-color;
}

.mat-expansion-panel-header-title, 
.mat-expansion-panel-header-description {
  flex-basis: 0;
}

.mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

mat-panel-title {
  color: $primary-color-dark;
}
mat-panel-description {
  mat-icon {
    color: $accent-color
  }
}
mat-list-item {
  mat-icon {
    color: $secondary-text-color
  }
}
.solution {
  mat-icon {
    color: $accent-color
  }
}


.solution {
  .desc {
    color: rgba($primary-text-color, 0.54); 
    font-size: .95em;
    vertical-align: middle;
    margin-right: 5px;
    &+span{
      font-weight: 400;
    }
  }
}




