
.wrapper {
  padding: 15px;
}
.table-container {
  overflow: auto;
  padding-left: 30px;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
}
.column {
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: nowrap;  
}
.column::before {
  content: attr(data-x);
  padding: 4px;
  color: #000000;
  font-size: 10px;
}
.column:first-of-type>.cell::before {
  position: absolute;  
  left: -30px;
  content: attr(data-y);
  padding: 4px;
  color: #000000;
  font-size: 10px;
}
.cell {
  position: relative;
  box-sizing: border-box;
  background: #fff;
  /* height: 50%; */
  width: auto;
  height: auto;
  min-height: 2em;
  min-width: 2em;
  /* margin: 2px; */
  border-left: solid 1px rgb(53, 52, 52);
  border-bottom: solid 1px black;
  padding: 4px;
  align-self: auto;
}
.cell[data-descr]:hover {
  background-color: #aaa;
}
