<div class="button-row">
  <h3>Experiment: Method: {{experimentDescription?.TaskConfiguration?.TaskName}}; Scenario: {{experimentDescription?.TaskConfiguration?.Scenario?.ws_file}}</h3>
  <button mat-button (click)="startMain()" [disabled]="isRuning" color="primary">Start</button>
  <button mat-button (click)="stopMain()" [disabled]="!isRuning" color="warn">Stop</button>


  <button class="download" *ngIf=isFinish mat-raised-button (click)="openDownloadOption()">
    <mat-icon matListIcon>save</mat-icon> Save Experiment
  </button>

  <mat-progress-bar mode="indeterminate" *ngIf=isRuning></mat-progress-bar>
</div>
