setuptools==50.3.2
scikit-learn[alldeps]==0.23.2
sobol_seq==0.2.0
PyYAML==5.4
statsmodels==0.12.0
jsonschema==3.2.0
scipy==1.5.3
pytest==6.1.1
pika==1.1.0
pymongo==3.11.0
numexpr==2.7.1
pandas==1.1.3
