<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<mat-divider></mat-divider>

<footer class="footer-distributed">

  <div class="footer-left">
    <p class="footer-company-about">
      <span>BRISE</span>
      BRISE is a Software Product Line (SPL) for Parameter Tuning. It covers a wide spectrum of use cases, 
      in particular quality-based testing, multiobjective optimization and hyperparameter optimization (HPO)
      <a class='about' href="https://github.com/dpukhkaiev/BRISE2"> About</a>
    </p>
    <p class="footer-company-name">TU Dresden © 2020</p>
  </div>

  <div class="footer-right">
    <div>
      <i class="fa fa-map-marker"></i>
      <p class="footer-links">
        <a href="https://goo.gl/maps/29CadiPEe5ATHG4Y8">Nöthnitzer Str. 46, 01187 Dresden</a>
      </p>
    </div>
    <div>
      <i class="fa fa-envelope"></i>
      <p class="footer-links">
        <a href="mailto:dmytro.pukhkaiev@tu-dresden.de">dmytro.pukhkaiev@tu-dresden.de</a>
      </p>
    </div>
    <div>
      <i class="fa fa-github"></i>
      <p class="footer-links">
      <a href="https://github.com/dpukhkaiev/BRISE2">https://github.com/dpukhkaiev/BRISE2</a>
      </p>
    </div>
  </div>

</footer>
