<div class="button-row">
  <button mat-button (click)="startMain()" [disabled]="isRuning" color="primary">Start</button>
  <button mat-button (click)="stopMain()" [disabled]="!isRuning" color="warn">Stop</button>
  <mat-progress-bar mode="indeterminate" *ngIf=isRuning></mat-progress-bar>
</div>




<!-- Heat map -->
<div #map></div>

<mat-card *ngIf=info class="info">
  <mat-card-title color="primary"> Info</mat-card-title>
    {{info | json}}
</mat-card>

<mat-card *ngIf="(solution | json) != '{}'" class="solution">
  <mat-card-title color="primary"> Solution </mat-card-title>
     {{solution | json}}
</mat-card>


