<div *ngIf=y&&x >
    <div class="select-box" *ngIf=prediction.size>
        <!-- select color -->
        <mat-form-field>
            <mat-select [(value)]="theme.color" (selectionChange)="regrRender()" placeholder="Color">
                <mat-option *ngFor="let col of colors" [value]="col">
                    {{col}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <!-- select type -->
        <mat-form-field>
            <mat-select [(value)]="theme.type" (selectionChange)="regrRender()" placeholder="Type">
                <mat-option *ngFor="let t of type" [value]="t">
                    {{t}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <!-- select smooth -->
        <mat-form-field>
            <mat-select [(value)]="theme.smooth" (selectionChange)="regrRender()" placeholder="Smooth">
                <mat-option *ngFor="let s of smooth" [value]="s">
                    {{s}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div #reg></div>
</div>