<!--The content below is only a placeholder and can be replaced.-->
<div>
  <div class="wrapper">
    <h1>
      [logo] BRISE 2.0
    </h1>
    <h4>Benchmark Reduction Via Adaptive Instance Selection</h4>
    <mat-tab-group>
      
      <!-- TAB 1 -->
      <mat-tab label="Heat map">
        <hm-2></hm-2>
        <hm-reg></hm-reg>
      </mat-tab>

      <!-- TAB 2 -->
      <mat-tab label="Info">
        <info-board></info-board>  
      </mat-tab>

      <!-- Tab 3 -->
      <mat-tab label="Tasks">
        <app-task-list> </app-task-list>
      </mat-tab>

    </mat-tab-group>
  </div>
</div>


