
  
<header class="header wrapper">
    <svg version="1.1" id="underground" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
      y="0px" width="90" height="90" viewBox="0 0 2500 2500" enable-background="new 0 0 200 200" preserveAspectRatio="xMinYMin meet">

      <g id="logo">
        <path class="logo-curve" d="M429 1590 c-121 -19 -238 -76 -330 -160 -53 -49 -73 -95 -44 -106 10 -4 27 2 43 15 195 158 366 199 611 146 35 -7 70 -11 78 -8 19 8 16 47 -7 68 -40 36 -241 62 -351 45z"
        />
        <path class="logo-curve" d="M370 1344 c-131 -34 -290 -140 -290 -193 0 -38 27 -34 101 15 109 72 183 96 314 102 140 6 214 -9 492 -99 269 -86 340 -102 478 -102 93 0 122 5 190 27 108 37 159 72 163 114 4 42 -14 42 -100 2 -95 -44 -195 -63 -298 -56 -111 8 -203 31 -447 110 -110 36 -238 72 -283 80 -101 20 -247 20 -320 0z"
        />
        <path class="logo-curve" d="M1949 1143 c-13 -9 -44 -35 -69 -58 -60 -54 -150 -108 -230 -136 -54 -20 -85 -23 -190 -24 -148 0 -192 10 -470 100 -254 82 -329 98 -465 98 -86 0 -125 -4 -179 -21 -84 -27 -96 -36 -96 -72 0 -38 18 -42 91 -19 162 51 309 34 647 -76 280 -90 324 -100 472 -100 139 0 183 10 305 74 91 47 225 174 225 213 0 35 -11 41 -41 21z"
        />
        <path class="logo-curve" d="M368 875 c-156 -39 -368 -198 -368 -275 0 -43 21 -38 86 21 72 65 149 114 232 147 62 24 78 27 212 26 163 0 187 -5 478 -99 268 -86 280 -89 442 -89 193 -1 290 29 290 91 0 35 -23 38 -108 12 -59 -17 -100 -23 -177 -22 -117 0 -212 21 -430 93 -267 88 -326 101 -470 106 -92 2 -147 -1 -187 -11z"
        />
        <path class="logo-curve" d="M596 635 c-7 -20 13 -63 33 -69 9 -3 43 -10 76 -16 33 -7 149 -41 257 -76 317 -102 380 -113 386 -69 5 35 -21 55 -88 71 -36 8 -155 43 -265 79 -294 94 -386 113 -399 80z"
        />
      </g>
    </svg>
    <div class="brise">
      <h1> BRISE
        <sub class='version'>2.0</sub>
      </h1>
      <span class="description">Benchmark Reduction Via Adaptive Instance Selection</span>
    </div>
</header>

<div class="header wrapper">
  <div class="button-row"><br>
    <button mat-button (click)="startMain()" [disabled]="isRuning" color="primary">Start</button>
    <button mat-button (click)="stopMain()" [disabled]="!isRuning" color="warn">Stop</button>
    <mat-progress-bar mode="indeterminate" *ngIf=isRuning></mat-progress-bar>
  </div>
</div>

<div class="content wrapper">
  <mat-tab-group>
    <!-- TAB 1 -->
                        <!-- show "Heat map" tab always -->
    <mat-tab label="Heat map">
                        <!-- show "Heat map" tab only if in task.json ModelType is "regression" -->
    <!--<mat-tab label="Heat map" *ngIf="isModelType('regression')">-->
      <multi-dim></multi-dim>
      <hm-2></hm-2>
    </mat-tab>
  
    <!-- TAB 2 -->
    <mat-tab label="Info">
      <imp-res></imp-res>
      <!-- improvement chart-->
      <info-board></info-board>
    </mat-tab>
  
    <!-- Tab 3 -->
    <mat-tab label="Tasks">
      <app-task-list> </app-task-list>
      <task-list-bo></task-list-bo>
    </mat-tab>

  </mat-tab-group>
</div>

<!-- <app-footer class="footer wrapper"> </app-footer> -->



